*{
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: auto;
}

button {
  border: 2px solid #000;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 1em;
  padding: .25em .5em .25em .5em;
  background-color: #bada55;
}

fieldset {
  border: none;
}

input,
textarea{
  display: block;
  width: 100%;
}

form {
  margin-top: 1em;
  border: 1px dashed #ddd;
  padding: 1em 0 1em 0;
  width: 50%;
}

h1, span {
  font-family: 'Lobster', Georgia, Times, serif;
}

h1 {
  font-size: 3em;
}

span {
  color: tomato;
}

.comment {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

.delete{
  cursor: pointer;
}

img{
  max-width:100%;
}
