<!DOCTYPE html>
<html lang="en" ng-app="grumblr">
<head>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <meta charset="UTF-8">
  <title>Grumblin w/ Angular</title>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src ="js/app.js"></script>
  <script src="js/controllers/grumbles.js"></script>
</head>
<body>
  <div class = "grumbles" ng-controller = "grumblesController as grumblesCtrl">
    <a href="#" ng-click= "grumblesCtrl.toggleForm()">Toggle Form</a>
    <form class = "newGrumble" ng-show = "grumblesCtrl.formVisible" ng-submit = "grumblesCtrl.createGrumble(grumblesCtrl.data)">
      <label> Title: </label>
      <input type="text" ng-model = "grumblesCtrl.data.title">
      <label> Author: </label>
      <input type="text" ng-model = "grumblesCtrl.data.authorName">
      <label> Content: </label>
      <textarea name="content" cols="30" rows="10" ng-model = "grumblesCtrl.data.content"></textarea>
      <label>Photo URL: </label>
      <input type="text" ng-model = "grumblesCtrl.data.photoUrl">
      <input type="submit">
    </form>
    <div ng-repeat="grumble in grumblesCtrl.grumbles">
      <h2>{{grumble.title}}</h2>
      <span>Post by: {{grumble.authorName}}</span>
      <p>{{grumble.content}}</p>
      <img ng-src="{{grumble.photoUrl}}" alt="" />
      <button ng-click = "grumblesCtrl.currentGrumble( $index ); editGrumble = !editGrumble">Edit Grumble</button>
      <form ng-show = "editGrumble" ng-submit = "grumblesCtrl.updateGrumble( $index, grumblesCtrl.updatedData )">
        <label> Title: </label>
        <input type="text" ng-model = "grumblesCtrl.updatedData.title">
        <label> Author: </label>
        <input type="text" ng-model = "grumblesCtrl.updatedData.authorName">
        <label> Content: </label>
        <textarea name="content" cols="30" rows="10" ng-model = "grumblesCtrl.updatedData.content" ></textarea>
        <label>Photo URL: </label>
        <input type="text" ng-model = "grumblesCtrl.updatedData.photoUrl" >
        <input type="submit">
      </form>
      <button type ="submit" ng-click = "grumblesCtrl.deleteGrumble($index)">Delete Grumble</button>
    </div>
  </div>
</body>
</html>
