<div>
  <div id="createGrumble">
    <form ng-submit="editGrumbleCtrl.update()">
      <label>Title</label>
      <input type="text" name="title" ng-model="editGrumbleCtrl.grumble.title">
      <label>Author Name</label>
      <input type="text" name="authorName" ng-model="editGrumbleCtrl.grumble.authorName">
      <label>Content</label>
      <textarea name="content" ng-model="editGrumbleCtrl.grumble.content">edit grumble content</textarea>
      <label>Photo Url</label>
      <input type="text" name="photoUrl" ng-model="editGrumbleCtrl.grumble.photoUrl">
      <button class="edit">New Grumble</button>
    </form>
  </div>
</div>
