<div class="grumbles">
    <div class="grumble">
        <h2>{{ grumbleCtrl.grumble.title }} <span class='delete' ng-click="grumbleCtrl.delete()">(X)</span></h2>
        by: {{ grumbleCtrl.grumble.authorName }}
        <p>
          {{ grumbleCtrl.grumble.content }}
        </p>
        <img ng-src="{{ grumbleCtrl.grumble.photoUrl }}">
        <a ng-href="#/grumbles/{{grumbleCtrl.grumble.id}}/edit">Edit Grumble</a>
    </div>
    <div class="comment" ng-repeat="comment in grumbleCtrl.grumble.comments">
        {{  comment.content  }}
        <p>By: {{comment.authorName}}</p>
    </div>
    <form class="commentForm" ng-submit="grumbleCtrl.createComment(grumbleCtrl.comment)">
        <label>Author Name:</label>
        <input type="text" ng-model="grumbleCtrl.comment.authorName" name="authorName">

        <label>Content:</label>
        <input type="text" ng-model="grumbleCtrl.comment.content" name="content">

        <button type="submit">Submit</button>
  </form>
</div>
